hr.timelineCal {
    position: absolute;
    left: 59px;
    border: none;
    border-top: 1px solid red;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 99999;
}
hr.timelineCal:before {
    content: " ";
    width: 5px;
    height: 5px;
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid red;
    background-color: red;
}
hr.timelineCal:before {
    left: 0;
    bottom: -3px;
}

#projectlist h4 {
  background-color: #668;
  font-size: 12pt;
  padding-left: 10pt;
  padding-top: 5pt;
  margin-top: 0px;
  padding-bottom: 5pt;
  color: white;
  text-transform: none;
  border-radius: 3px 3px 0 0;
}
.show-report {
  font-size: 12pt;
}
.portfolio-item {
  border: solid 1pt #AAA;
  height: 240px;
  border-radius: 4px 4px 0 0;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.portfolio-bottom {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #EEE;
  margin-bottom: 0px;
}
.portfolio-item hr {
  margin-top: 10px;
  margin-bottom: 0px;
}
.swatch {
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 80px;
}
#projectlist a {
  color: gray;
}

.clearfix:before,.clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}

@media (min-width: 1200px) {
  .container {
    width: 90%;
  }
}
.fixed {
   width: 220px;  /* the fixed width required */
   float: left;
}

.fill { 
    min-height: 100%;
    position: relative;
}

.filler:after{
    background-color:inherit;
    bottom: 0;
    content: "";
    height: auto;
    min-height: 100%;
    left: 0;
    margin:inherit;
    right: 0;
    position: absolute;
    top: 0;
    width: inherit;
    z-index: -1;  
}
.fixed + div {
     margin-left: 150px;  /* must match the fixed width in the .fixed class */
     overflow: hidden;
}

#month-view {
  margin-top: 40px;
}

.report-table {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.report-table {
  background: #353a40;
}

.report-table {
  border-collapse: separate;
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 50px auto;
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.report-table thead {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.report-table thead th {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  text-align: left;
  padding: 20px;
  background-image: -moz-linear-gradient(#646f7f, #4a5564);
  background-image: -webkit-linear-gradient(#646f7f, #4a5564);
  background-image: linear-gradient(#646f7f, #4a5564);
  border-top: 1px solid #858d99;
}
.report-table thead th:first-child {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
}
.report-table thead th:last-child {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}

.report-table tbody tr td {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #5f6062;
  font-size: 13px;
  padding: 20px 20px 20px 20px;
  border-bottom: 1px solid #e0e0e0;
}

.report-table tbody tr:nth-child(2n) {
  background: #f0f3f5;
}

.report-table tbody tr:last-child td {
  border-bottom: none;
}
.report-table tbody tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.report-table tbody tr:last-child td:last-child {
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.report-table tbody:hover > tr td {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  /* uncomment for blur effect */
  /* color:transparent;
  @include text-shadow(0px 0px 2px rgba(0,0,0,0.8));*/
}

.report-table tbody:hover > tr:hover td {
  text-shadow: none;
  color: #2d2d2d;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}






#history {
    background-color: rgba(255,255,255,0.8);
    border-radius: 3px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis text {
    font-size: 8pt;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}


h3.project-title {
    line-height: 19px;
    margin-top: 5px;
    padding-top: 2px;
    margin-bottom: 2px;
    font-weight: 200;
}
p.project-description {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 10pt;
}
div.project-scan-time-left {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 10px;
}
div.project-available-sessions {
    line-height: 12px;
    margin-bottom: 5px;
}

section h3.section-subheading {
    margin-bottom: 20px;
}
.event-template {
    background-color: #428bca;
    border-radius: 3px;
    color: white;
    line-height: 50px;
    border: 1px solid white;
    margin-right: 10px;
    margin-bottom:5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);    
    padding-left: 10px;
}
.fc-event {
    border: solid 1px #AAA;
}
.fc-toolbar {
    height: 40px;
}
.hero {
    padding: 30px 0;
    border-bottom: 1px solid rgba(34, 34, 34, 0.2);
}

.is-moment .hero {
    background-color: #61b2a7;
    box-shadow: inset 0 10px 10px #61b2a7;
}

.is-moment-timezone .hero {
    background-color: #4e7cad;
    box-shadow: inset 0 10px 10px #4e7cad;
}

.hero-circle {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    position: relative;
    border: 4px solid #fff;
    border-radius: 50%;
    box-shadow: 0 1px 8px rgba(34, 34, 34, 0.3), inset 0 1px 8px rgba(34, 34, 34, 0.3);
}

.is-moment .hero-circle {
    background-color: #61b2a7;
}

.is-moment-timezone .hero-circle {
    background-color: #4e7cad;
}

.hero-face {
    width: 100%;
    height: 100%;
}

.hero-face:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: #fff;
    border-radius: 4px;
    content: "";
    display: block;
}

.hero-hour {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -4px 0 -2px -25%;
    padding: 4px 0 2px 25%;
    background: #fff;
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    border-radius: 4px 0 0 4px;
}

.hero-minute {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40% -2px 0;
    padding: 40% 2px 0;
    background: #fff;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    border-radius: 3px 3px 0 0;
}

.hero-second {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40% -1px 0 0;
    padding: 40% 1px 0;
    background: #fff;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.hero-oneline, .hero-title {
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(34, 34, 34, 0.5);
}

.hero-oneline h1, .hero-title h1 {
    font-size: 60px;
    margin: 0;
}

.hero-oneline h1 span, .hero-title h1 span {
    font-size: 0.5em;
}

.is-moment .hero-oneline h1 span, .is-moment .hero-title h1 span {
    color: #b0d8d3;
}

.is-moment-timezone .hero-oneline h1 span, .is-moment-timezone .hero-title h1 span {
    color: #a6bdd6;
}

.hero-oneline h2, .hero-title h2 {
    font-size: 24px;
    margin: 0;
}

.hero-oneline {
    position: relative;
    padding: 10px 20px;
    text-align: left;
}

.hero-oneline h1 {
    font-size: 32px;
}

.hero-centered {
    max-width: 1024px;
    margin: 0 auto;
}

.hero-world {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    border-radius: 50%;
    background: url(../img/world.png);
    background-size: cover;
    background-position: 25% 0;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-name: map;
    animation-name: map;
}

@-webkit-keyframes map {
    0% {
        background-position: 625% 0;
    }

    100% {
        background-position: 25% 0;
    }
}

@keyframes map {
    0% {
        background-position: 625% 0;
    }

    100% {
        background-position: 25% 0;
    }
}

