.dropdown-submenu {
    position: relative;
}

.table-striped tbody tr.highlight td { background-color: #FF9933; }

#to-schedule div.highlight { background-color: yellow; }

#to-schedule {
   margin-top: 10px;
}

#protocols-table_filter {
    text-align: right;
}
.dataTables_length {
   height: 0pt;
}
.dataTables_filter input {
   margin-left: 10px;
}

.to-protocol {
    border: 1px solid #666;
    background: white;
    box-shadow: 0px 0px 3px gray;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 2px;
    border-radius: 2pt;
    font-size: 9pt;
    width: 300px;
    height: 100px;
    overflow: scroll;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.connection-status {
    background-color: red;
    color: white;
}
.connection-status-ok {
    background-color: green;
    color: white;
}
.substance-checkbox {
    width: 150px;
    overflow-x: hidden;
}
#select-substances-checkboxes label.active {
    background-color: lightblue;
    color: black;
}
.modal-content {
    height: 100%;
}
.close {
    margin-right: 20px;
    font-size: 64pt;
    font-weight: 200;
}